:root {
  --dark: #252525;
  --light: #e3e3e3;
  --accent: #c58b3f;
  --padding: .1em;
  --radius: .2em;
}

body {
  background: var(--dark);
  color: var(--light);
}

div {
  width: fit-content;
}

.time {
  width: initial;
  height: 97vh;
  text-align: center;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#time {
  width: 5em;
  height: 2.4em;
  word-wrap: normal;
  padding: var(--padding);
  border-radius: var(--radius);
  box-shadow: 0px 0px 10px var(--accent);
  color: var(--light);
}

#next_period {
  width: 6.25em;
  padding: var(--padding);
  border-radius: var(--radius);
  box-shadow: 0px 0px 10px var(--accent);
  color: var(--light);
}

#day {
  position: absolute;
  top: 1em;
  text-align: center;
  color: var(--light);
  font-size: .75em;
  border-radius: var(--radius);
  padding: var(--padding);
  box-shadow: 0px 0px 10px var(--accent);
}